<<<<<<< HEAD
@font-face {
    font-family: Moon Light;
    src: url("/Moon Light.otf");
}

@font-face {
    font-family: "Geomanist Light";
    src: url("/Geomanist-Light.otf");
}
.customfont {
    text-decoration: none;
    color: #b1917c;
    font-size: 25px;
    font-family: Moon Light, Helvetica, sans-serif;
}
.dropdown-menu > li > a {
    color: #324e6e;
    font-family: "Geomanist Light", Helvetica, sans-serif;
}
.navbar-nav>li>a{
    color: #324e6e;
    font-size: 15px;
    font-family: Moon Light, Helvetica, sans-serif;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #324e6e;
}
.headingfont {
    text-decoration: none;
    font-size: 20px;
    font-weight: 700;
    color: #324e6e;
    font-family: Moon Light, Helvetica, sans-serif;
}

.customheadingfont {
    text-decoration: none;
    font-size: 70px;
    font-weight: 100;
    color: #324e6e;
    font-family: Moon Light, Helvetica, sans-serif;
}
.secondaryheadingfont {
    font-family: Moon Light, Arial, sans-serif;
    font-weight: 100;
    color: #b1917c;
    font-size: 35px;
    padding-top: 40px;
    padding-bottom: 30px;
}
.profilepic img{
    z-index: 1;
    margin: auto;
    display: block;
    width: 20%;
}
h1 {
    text-align: center;
    padding-top: 70px;
}
h2{
    text-align: center;
}
.firstsentence {
    font-family: "Geomanist Light", Arial, sans-serif;
    font-weight: 700;
    color: #324e6e;
    font-size: 25px;
    padding-left: 50px;
}
.writingsection div {
    margin-top: 50px;
}
.parafont{
    font-family: Geomanist Light, Arial, sans-serif;
    font-weight: 400;
    color: #324e6e;
    font-size: 20px;
    padding-left: 50px;
    padding-right: 50px;
    line-height: 1.5;
}
*{
    max-width: 100%;
}
hr{
    margin-top: 50px;
    border-color: rgba(50, 78, 110, 0.45);
    max-width: 90%;
}
td{
    padding-bottom: 60px;
}
td.parafont{
    width: 50%;
}
.carousel {
    width: 600px;
    text-align: center;
    margin-top: 60px;
}
.tall{
    height: 600px;
    width: 300px;
    margin-top: 0px;
}
.carousel-control.left, .carousel-control.right {
    background-image: none
}
.carousel img {
    height: 400px;
}
.carousel .tall img{
    max-height: 600px;
}
.logo {
    height: 50px;
}

.heroimage{
    width: 700px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 60px;
}
tr.bordered{
    border-bottom: 1px solid;
    color: rgba(50, 78, 110, 0.24);
    max-width: 90px;
}

.fa {
    padding: 10px 30px 30px 30px;
}

.moreright{
    padding-left: 120px;
}

.contacticon img {
    display: inline-block;
    text-align: center;
    width: 50px;
    margin: 0 30px 10px 30px;
}

.center{
    text-align: center;
}
=======
@font-face {
    font-family: Moon Light;
    src: url('/bootstrap/css/Moon Light.otf');
}

@font-face {
    font-family: Geomanist Light;
    src: url('/bootstrap/css/Geomanist-Light.otf')
}
.customfont {
    text-decoration: none;
    color: #b1917c;
    font-size: 25px;
    font-family: Moon Light, Helvetica, sans-serif;
}
.dropdown-menu > li > a {
    color: #324e6e;
    font-family: "Geomanist Light", Helvetica, sans-serif;
}
.navbar-nav>li>a{
    color: #324e6e;
    font-size: 15px;
    font-family: Moon Light, Helvetica, sans-serif;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #324e6e;
}
.headingfont {
    text-decoration: none;
    font-size: 20px;
    font-weight: 700;
    color: #324e6e;
    font-family: Moon Light, Helvetica, sans-serif;
}

.customheadingfont {
    text-decoration: none;
    font-size: 70px;
    font-weight: 100;
    color: #324e6e;
    font-family: Moon Light, Helvetica, sans-serif;
}
.secondaryheadingfont {
    font-family: Moon Light, Arial, sans-serif;
    font-weight: 100;
    color: #b1917c;
    font-size: 35px;
    padding-top: 40px;
    padding-bottom: 30px;
}
.profilepic img{
    z-index: 1;
    margin: auto;
    display: block;
    width: 20%;
}
h1 {
    text-align: center;
    padding-top: 70px;
}
h2{
    text-align: center;
}
.firstsentence {
     font-family: "Geomanist Light", Arial, sans-serif;
     font-weight: 700;
     color: #324e6e;
     font-size: 25px;
     padding-left: 50px;
 }
.writingsection div {
    margin-top: 50px;
}
.parafont{
    font-family: Geomanist Light, Arial, sans-serif;
    font-weight: 400;
    color: #324e6e;
    font-size: 20px;
    padding-left: 50px;
    padding-right: 50px;
    line-height: 1.5;
}
*{
    max-width: 100%;
}
hr{
    margin-top: 50px;
    border-color: rgba(50, 78, 110, 0.45);
    max-width: 90%;
}
td{
    padding-bottom: 60px;
}
td.parafont{
    width: 50%;
}
.carousel {
    width: 600px;
    text-align: center;
    margin-top: 60px;
}
.tall{
    height: 600px;
    width: 300px;
    margin-top: 0px;
}
.carousel-control.left, .carousel-control.right {
    background-image: none
}
.carousel img {
    height: 400px;
}
.carousel .tall img{
    max-height: 600px;
}
.logo {
    height: 50px;
}

.heroimage{
    width: 700px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 60px;
}
tr.bordered{
    border-bottom: 1px solid;
    color: rgba(50, 78, 110, 0.24);
    max-width: 90px;
}
.contacticon{
    text-align: center;
}

.fa {
    padding: 10px 30px 30px 30px;
}

.moreright{
    padding-left: 120px;
}
>>>>>>> origin/master
